<section class="main-hero">
  <div class="main-hero-pic">
    <img [src]="tipo.img" (load)="load()" style="width: 0px; height: 0px;">
    <img [src]="tipo.img" alt="Back" *ngIf="src">
    <img [src]="'assets/img/hero-back-user.jpg'" alt="Back" *ngIf="default">
  </div>
  <div class="main-hero-layout" [ngStyle]="{'background-color' : tipo.color}">
  </div>
  <div class="main-hero-container container">
    <div class="row">
      <div class="col">
        <h1 class="main-hero-title text-center">CARRERAS DE <br> {{ tipo.name }}</h1>
      </div>
    </div>
    <div class="row justify-content-md-center main-hero-form">
      <div class="col-md-12 col-lg-9">
        <app-main-form></app-main-form>
      </div>
    </div>
  </div>
  <div class="shape">
    <svg width="1405px" viewBox="0 0 2014 319">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shape" transform="translate(4.000000, 14.000000)">
          <path d="M0,13 C350,176.333333 677.333333,258 982,258 C1286.66667,258 1628,176.333333 2006,13 L2006,305 L0,305 L0,13 Z"
            id="back" fill="#FFFFFF"></path>
          <path d="M3,0 C641.832315,323.150034 1308.49898,323.150034 2003,0" id="border" [ngStyle]="{'stroke' : tipo.color}" stroke-width="30"></path>
        </g>
      </g>
    </svg>
  </div>
</section>

<section class="path">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li routerLink="/inicio">Inicio</li>
          <li class="active" routerLink="/carreras/{{ tipo.id }}">{{ tipo.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="grid bg-white mt-main">
  <div class="container">
    <div class="row">
      <div class="grid-container">

        <div class="grid-item" *ngFor="let area of areas">
          <div class="grid-item-container" routerLink="/carreras/{{ tipo.id }}/{{ area.id }}">
            <div class="grid-item-icon" [ngStyle]="{'background-color' : tipo.color}">
              <img [src]="area.icono" *ngIf="src">
              <img src="../../assets/img/icons/ciencias.png" *ngIf="default">
            </div>
            <div class="grid-item-title">
              {{ area.name }}
            </div>
            <div class="grid-item-btn">
              <button class="btn"
              [ngStyle]="{'border-color': tipo.color, 'color': tipo.color}"
              routerLink="/carreras/{{ tipo.id }}/{{ area.id }}">Ver más</button>
            </div>
          </div>
          <div class="grid-item-pic">
            <img [src]="area.img" alt="Back" *ngIf="src">
            <img [src]="'assets/img/hero-back-user.jpg'" alt="Back" *ngIf="default">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>