@import "../../assets/sass/mix.scss";
.button {
    &-search {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -20px;
        left: 0;
        @include for-phone-only {
            position: relative;
            top: 0;
            margin-bottom: 20px;
        }
        @include for-tablet-portrait-up  {
            position: relative;
            top: 0;
            margin-bottom: 20px;
        }

        &-container {
            position: relative;
            width: 100%;
            max-width: 400px;
            height: 54px;
            background-color: $blanco;
            border-radius: 8px;
            border: 2px solid $amarillo-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p {
                margin-bottom: 0;
                color: #878787;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}