<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div id="search">
      <ng-template #rt let-r="result" let-t="term">
        <div routerLink="/carreras/{{ r.tipo }}/{{ r.area }}/{{ r.url }}" (click)="d('Cross click')">
          <img [src]="r.picture || 'assets/img/hero-back-user.jpg'" class="mr-1">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          <i class="fas fa-arrow-right"></i>
        </div>
        
      </ng-template>
      <div class="special-input home-pro">
        <span class="special-input-icon">
          <i class="fas fa-search"></i>
        </span>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
        [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="¿Que tipo de programa buscas?" autofocus/>
      </div>
    </div>
  </div>
</ng-template>

<div class="button-search" (click)="open(content)" *ngIf="showInp">
  <div class="button-search-container">
    <span class="special-input-icon">
      <i class="fas fa-search"></i>
    </span>
    <p>¿Que tipo de programa buscas?</p>
  </div>
</div>