@import "../../assets/sass/mix.scss";

.header-transparent {
   background-color: transparent !important;
   box-shadow: none !important;
   @include for-phone-only {
       background-color: rgba($azul-primary, 1) !important;
   }
}

.header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    padding: 1em 0;
    background-color: $azul-primary;
    -webkit-box-shadow: 6px 6px 10px -6px rgba(0,0,0,0.10);
    -moz-box-shadow: 6px 10px 10px -6px rgba(0,0,0,0.10);
    box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.10);
    @include prefix(transition, all .5s ease-in-out);

    &-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr;
        justify-content: space-between; 
    }
    &-brand {
        max-width: 280px;
        @include for-phone-only {
            max-width: 240px; 
        }
    }

    &-nav-mov {

        i {
            color: $azul-primary;
        }
        @include for-tablet-landscape-up {
            display: none;
        }
        @include for-tablet-portrait-up {
            display: block;
        }
    }
    &-nav {
        position: relative;

        @include for-phone-only {
            display: none;
        }
        @include for-tablet-portrait-up {
            display: none;
        }
        
        .nav {
            list-style: none !important;   
            @include for-phone-only {
                flex-direction: column;
                text-align: center;
            }
            &-item {
                padding: .5em 1.5em;
                a {
                    position: relative;
                    color: $blanco;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    cursor: pointer;
                    @include prefix(transition, all .4s ease-in-out);

                    &:hover {
                        color: $amarillo-primary;
                        text-decoration: none;

                        &::after {
                            border-bottom: 2px solid $amarillo-primary;
                            transform: translateY(2px);
                            @include prefix(transition, all .3s ease-in-out);
                        }
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: 30px;
                        border-bottom: 2px solid transparent;
                        margin: 0 auto ;
                        transform: translateY(-4px);
                    }
                }
                .active {
                    color: $amarillo-primary;

                    &::after {
                        border-bottom: 2px solid $amarillo-primary;
                        transform: translateY(2px);
                        @include prefix(transition, all .3s ease-in-out);
                    }
                }
            }
        }
    }
}