<header class="header header-transparent">
    <div class="header-container container grid">
        <div class="header-brand" routerLink="/inicio">
            <img src="../../assets/img/logo.png" alt="Universidad Santo Tomas" class="img-fluid">
        </div>
        <div class="header-nav">
            <ul class="nav flex">
                <li class="nav-item">
                    <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/carreras/pregrado" routerLinkActive="active">Pregrado</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/carreras/posgrado" routerLinkActive="active">Posgrado</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/contactanos" routerLinkActive="active">Contáctanos</a>
                </li>
            </ul>
        </div>
        <div class="header-nav-mov">
            <button mat-mini-fab color="#fff" [matMenuTriggerFor]="menu">
                <i class="fas fa-bars"></i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/inicio" routerLinkActive="active">Inicio</button>
                <button mat-menu-item routerLink="/carreras/pregrado" routerLinkActive="active">Pregrado</button>
                <button mat-menu-item routerLink="/carreras/posgrado" routerLinkActive="active">Posgrado</button>
                <button mat-menu-item routerLink="/contactanos" routerLinkActive="active">Contáctanos</button>
            </mat-menu>
        </div>
    </div>
</header>