<footer class="footer">
  <div class="footer-container container">
    <div class="row">
      <div class="col-md-8">
        <img src="../../assets/img/logo.png" alt="Usta" class="img-fluid footer-logo">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="footer-contact">
          <div class="icon">
            <i class="fas fa-phone"></i>
          </div>
          <div class="text">
             <strong>CONTÁCTANOS:</strong> <br/>
             PBX: +57 1 587 8797
          </div>
        </div>

        <div class="social">
          <p>
            Síguenos en nuestras redes sociales
          </p>
          <ul>
            <li>
              <a target="_blank" href="https://www.instagram.com/santotocolombia/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/UNIVERSIDADSANTOTOMASCOLOMBIA">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/user/ComunicacionesUSTA">
                <i class="fab fa-youtube-square"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/USTA_COLOMBIA">
                <i class="fab fa-twitter-square"></i>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.linkedin.com/school/universidad-santo-tom%C3%A1s-colombia">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container legal">
  <div class="row">
    <div class="col-12">
      <p class="legal-text">
        <strong>VIGILADO MINEDUCACIÓN</strong> <br/>
        <small>Copyright © 2017 | Universidad Santo Tomás | Todos los derechos reservado</small>
      </p>
    </div>
  </div>

  <div class="contact-form">
    <div class="contact-form-container">
      <h1 class="text-center">
        ¿DESEAS UNIRTE A LA GENERACIÓN DEL CAMBIO?
      </h1>
      <div class="form-container">
        <app-short-form></app-short-form>
      </div>
    </div>
  </div>
</div>


