@import "../../assets/sass/mix.scss";

.footer {
    margin: 20px 0 0 0;
    padding: 100px 0 150px 0;
    position: relative;
    background: rgba(2,74,145,1);
    background: -moz-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,74,145,1)), color-stop(100%, rgba(0,43,88,1)));
    background: -webkit-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: linear-gradient(135deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#024a91', endColorstr='#002b58', GradientType=1 );
    @include for-phone-only {
        padding: 20px 20px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 200px;
        width: 80%;
        border-top: 2px solid $amarillo-primary;
        @include for-phone-only {
            top: 120px;
        }
    }
    &-logo {
        max-width: 320px;

        @include for-phone-only {
            max-width: 100%;
        }
    }
    &-contact {
        display: grid;
        grid-template-columns: 40px auto;
        grid-template-rows: 40px;
        align-items: center;
        color: $blanco;
        margin-top: 80px;

        .text {
            font-size: 14px;
        }
    }
}
.social {
    position: relative;
    margin-top: 16px;

    p {
        color: $blanco;
        font-size: 14px;
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding-left: 0;
        display: flex;

        li {
            margin-right: 14px;

            a {
                color: $blanco;
                i {
                    font-size: 20px !important;
                }
            }
        }
    }
}
.legal {
    position: relative;
    margin-top: 40px;
    &-text {
        font-size: 12px;
        color: #B5B5B5;
        strong {
            color: $amarillo-primary;
            font-weight: 500;
        }
    }
    @include for-phone-only {
        display: flex;
        flex-direction: column-reverse;
    }
}

.contact-form {
    position: absolute;
    max-width: 480px;
    bottom: 0;
    right: 0;
    background-color: $blanco;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.20);
    
    @include for-phone-only {
        position: relative;
        margin-bottom: 40px;
    }

    &-container {
        padding: 40px 40px 20px 40px;
        h1 {
            color: $azul-primary;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 32px;
        }

        @include for-phone-only {
            padding: 20px;
        }
    }
}