<section class="main-hero">
    <div class="main-hero-pic">
        <img [src]="tipo.img" (load)="load()" style="width: 0px; height: 0px;">
        <img [src]="tipo.img" alt="Back" *ngIf="src">
        <img [src]="'assets/img/hero-back-user.jpg'" alt="Back" *ngIf="default">
    </div>
    <div class="main-hero-layout" [ngStyle]="{'background-color' : tipo.color}">
    </div>
    <div class="main-hero-container container">
        <div class="row">
            <div class="col">
                <h1 class="main-hero-title text-center">{{ area.name }}</h1>
            </div>
        </div>
        <div class="row justify-content-md-center main-hero-form">
            <div class="col-md-12 col-lg-9">
                <app-main-form></app-main-form>
            </div>
        </div>
    </div>
    <div class="shape">
        <svg width="1405px" viewBox="0 0 2014 319">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="shape" transform="translate(4.000000, 14.000000)">
                    <path d="M0,13 C350,176.333333 677.333333,258 982,258 C1286.66667,258 1628,176.333333 2006,13 L2006,305 L0,305 L0,13 Z"
                        id="back" fill="#FFFFFF"></path>
                    <path d="M3,0 C641.832315,323.150034 1308.49898,323.150034 2003,0" id="border" [ngStyle]="{'stroke' : tipo.color}"
                        stroke-width="30"></path>
                </g>
            </g>
        </svg>
    </div>
</section>

<section class="path">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li routerLink="/inicio">Inicio</li>
                    <li routerLink="/carreras/{{ tipo.id }}">{{ tipo.name }}</li>
                    <li class="active" routerLink="/carreras/{{ tipo.id }}/{{ area.id }}">{{ area.name }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="filter" *ngIf=" tipo.id == 'posgrado' ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters-items">
                    <div class="item" *ngFor="let clase of clases" (click)="filterCouses($event, clase.id)">
                        {{ clase.name }}
                    </div>
                    <div class="item active" (click)="resetFilter($event)">
                        Todo
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="grid bg-white mt-main">
    <div class="container" *ngIf="courses.length <= 0">
        <div class="row">
            <div class="col-md-12 text-center pic">
                <img src="../../assets/img/courses-not-found.svg" alt="Not Found">
                <p>En este momento no hay programas disponibles en esta área ...</p>
            </div>
            <div class="col-md-12 search">
                <app-serch></app-serch>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="grid-container">
                <div class="grid-item" *ngFor="let curso of courses">
                    <div class="grid-item-container" routerLink="/carreras/{{ tipo.id }}/{{ area.id }}/{{ curso.url }}">
                        <div class="grid-item-icon" [ngStyle]="{'background-color' : tipo.color}">
                            <img [src]="area.icono"  *ngIf="src">
                            <img src="../../assets/img/icons/ciencias.png" *ngIf="default">
                        </div>
                        <div class="grid-item-title">
                            {{ curso.name }}
                        </div>
                        <div class="grid-item-data">
                            <small>SNIES: {{ curso.snies }}</small> <br/>
                            <small>Valor Semestre: {{ curso.inversion }}</small>
                        </div>
                        <div class="grid-item-btn">
                            <button class="btn" 
                                [ngStyle]="{'border-color': tipo.color, 'color': tipo.color}" 
                                routerLink="/carreras/{{ tipo.id }}/{{ area.id }}/{{ curso.url }}">Ver más</button>
                        </div>
                        <div class="grid-item-hc" *ngIf="curso.acreditacion">
                            <img src="../../assets/img/hq.svg" alt="Alta calidad" class="img-fluid">
                        </div>
                    </div>
                    <div class="grid-item-pic">
                        <img [src]="curso.picture || 'assets/img/hero-back-user.jpg'" alt="Back" *ngIf="src">
                        <img [src]="'assets/img/hero-back-user.jpg'" alt="Back" *ngIf="default">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>