
@import "../../assets/sass/mix.scss";
.hero {
    position: relative;
    background-image: url(../../assets/img/contact-back.jpg);
    background-size: cover;
    background-position: right top;
    height: 500px;

    @include for-phone-only {
        height: auto;
        background-size: 100%;
        margin-top: 70px;
    }


    &-container {
        position: relative;
    }

    &-cta {
        height: auto;
        background-color: $blanco;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 120px;
        right: 0;

        @include for-phone-only {
            position: relative;
        } 

        h1 {
            color: $azul-primary;
            font-size: 28px;
            margin: 60px 0 20px 0;
            @include for-phone-only {
                font-size: 18px;
                margin: 16px 0;
            }
        }
    }
}

.filter {
    margin-bottom: 200px;
    @include for-phone-only {
        margin-top: 150px;
        margin-bottom: 10px;
    }
}