<section class="hero">
  <div class="hero-container container">
    <div class="row">
      <div class="col-md-5 hero-cta">
        <h1 class="text-center">
          ¿DESEAS UNIRTE A LA GENERACIÓN DEL CAMBIO?
        </h1>
        <div class="form-container">
          <app-short-form></app-short-form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="filter">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-serch></app-serch>
      </div>
    </div>
  </div>
</section>