<section class="testimonials" *ngIf="testimonials.length >= 1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center testimonials-title">
          TESTIMONIOS
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="testimonials-container">
            <div class="testimonials-container-item" *ngFor="let testimonio of testimonials">
              <div class="avatar">
                <img [src]="testimonio.pic" alt="Pic" class="img-fluid">
              </div>
              <div class="data">
                <p class="data-name">{{ testimonio.name }}</p>
                <p class="data-cont">{{ testimonio.content }}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>