@import "../../assets/sass/mix.scss";

.testimonials-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &-item {
        position: relative;
        max-width: 220px;
        margin: 0 10px;

        .avatar {
            max-width: 220px;
            text-align: center;

            img {
                width: 140px;
                height: 140px;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }
        .data {
            display: block;
            margin-top: 16px;
            &-name {
                color: $amarillo-primary;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 4px;
            }

            &-cont {
                text-align: center;
                font-weight: 400;
                font-size: 10px;
            }
        }
    }
}