<app-header></app-header>
<section class="mainContent">
    <div class="progress" style="height: 4px;" *ngIf="loader">
        <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" [ngStyle]="{'width' : loaderState}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</section>

<div class="notification" *ngIf="showNot">
    <div class="notification-container">
        <div class="notification-pic">
            <img [src]="message.icon">
        </div>
        <div class="notification-body">
            <p>
                <b>{{ message.title }}</b> <br />
                {{ message.body }}
            </p>
        </div>
    </div>
    <div class="notification-action">
        <div class="item">
            <a (click)="showNot = false">Cerrar</a>
        </div>
    </div>
</div>
