@import "../assets/sass/mix.scss";

.notification {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 100%;
    max-width: 340px;
    height: 100px;
    max-height: 100px;
    background-color:rgba(#eee, .9);
    border-radius: 4px 4px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 40px;
    grid-gap: 4px;
    z-index: 120;

    -webkit-box-shadow: 0px 16px 14px -14px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 16px 14px -14px rgba(0,0,0,0.49);
    box-shadow: 0px 16px 14px -14px rgba(0,0,0,0.49);

    animation: fadeInDown .6s ease-in-out .2s forwards;

    @include for-phone-only {
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0 0 0 0;
        background-color:rgba(#eee, 1);
    }

    &-container {
        display: grid;
        grid-template-columns: 60px 1fr;
        grid-column-gap: 12px;
        padding: 4px;
    }
    &-pic {
        position: relative;
        
        img {
            width: 60px;
            height: 60px;
        }
    }
    &-body {
        position: relative;
        
        p {
            color: #878787;
            font-size: 13px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 12px;
        }
    }
    &-action {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:rgba($blanco, 1);
            height: 30px;
            &:last-child {
                background-color:rgba($blanco, .8);
            }

            a {
                color: $azul-primary;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                letter-spacing: 2px;
                cursor: pointer;
            }
        }
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-40px);
    }
    to {
        transform: translateY(0);
    }
}