<section class="main-hero">
  <div class="main-hero-pic">
    <img src="../../assets/img/contact-back.jpg" alt="Back">
  </div>
  <div class="main-hero-layout" [ngStyle]="{'background-color' : '#2D97D4'}">
  </div>
  <div class="main-hero-container container">
    <div class="row">
      <div class="col">
        <h1 class="main-hero-title text-center">Su mensaje fue enviado correctamente</h1>
      </div>
    </div>
    <div class="row" *ngIf="fileUrl">
      <div class="col-md-12 text-center">
        <a [href]="fileUrl.url" class="btn btn-warning" target="_blank" download>Descargar Archivo | <i class="far fa-file-pdf"></i></a>
      </div>
    </div>
  </div>
  <div class="shape">
    <svg width="1405px" viewBox="0 0 2014 319">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shape" transform="translate(4.000000, 14.000000)">
          <path d="M0,13 C350,176.333333 677.333333,258 982,258 C1286.66667,258 1628,176.333333 2006,13 L2006,305 L0,305 L0,13 Z"
            id="back" fill="#FFFFFF"></path>
          <path d="M3,0 C641.832315,323.150034 1308.49898,323.150034 2003,0" id="border" [ngStyle]="{'stroke' : '#2D97D4'}"
            stroke-width="30"></path>
        </g>
      </g>
    </svg>
  </div>
</section>