<section class="main-hero">
  <div class="main-hero-pic">
    <img [src]="course.picture" (load)="load()" style="width: 0px; height: 0px;">
    <img [src]="course.picture" alt="Back" *ngIf="src">
    <img [src]="'assets/img/hero-back-user.jpg'" *ngIf="default" alt="Back">
  </div>
  <div class="main-hero-layout" [ngStyle]="{'background-color' : tipo.color}">
  </div>
  <div class="main-hero-container container">
    <div class="row">
      <div class="col">
        <h1 class="main-hero-title text-center">{{ course.name }}</h1>
      </div>
    </div>
    <div class="row justify-content-md-center main-hero-form">
      <div class="col-md-12 col-lg-9">
        <app-main-form [course]="courseName"></app-main-form>
      </div>
    </div>
  </div>
  <div class="shape">
    <svg width="1405px" viewBox="0 0 2014 319">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shape" transform="translate(4.000000, 14.000000)">
          <path d="M0,13 C350,176.333333 677.333333,258 982,258 C1286.66667,258 1628,176.333333 2006,13 L2006,305 L0,305 L0,13 Z"
            id="back" fill="#FFFFFF"></path>
          <path d="M3,0 C641.832315,323.150034 1308.49898,323.150034 2003,0" id="border" [ngStyle]="{'stroke' : tipo.color}"
            stroke-width="30"></path>
        </g>
      </g>
    </svg>
  </div>
</section>

<section class="path">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li routerLink="/inicio">Inicio</li>
          <li routerLink="/carreras/{{ tipo.id }}">{{ tipo.name }}</li>
          <li routerLink="/carreras/{{ tipo.id }}/{{ area.id }}">{{ area.name }}</li>
          <li class="active" routerLink="/carreras/{{ tipo.id }}/{{ area.id }}/{{ course.url }}">{{ course.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="course">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-data">
          <div class="title" [ngStyle]="{'background-color' : tipo.color}">
            {{ course.name }}
          </div>

          <div class="item">
            <b>SNIES</b> <br/> {{ course.snies }}
          </div>

          <div class="item">
            <b>Título otorgado</b> <br/> {{ course.titulo }}
          </div>

          <div class="item">
            <b>Registro Calificado</b> <br/> {{ course.registro }}
          </div>

          <div class="item">
            <b>Modalidad</b> <br/> {{ course.modalidad }}
          </div>

          <div class="item" *ngIf="course.acreditacion">
            <b>Acreditación</b> <br/> {{ course.acreditacion }}
          </div>

          <div class="item">
            <b>Duración</b> <br/> {{ course.duracion }}
          </div>
          <div class="item">
            <b>Ubicación</b> <br/> {{ course.ubicacion }}
          </div>

          <div class="item">
            <b>Jornada</b> <br/> {{ course.jornada }}
          </div>

          <div class="item">
            <b>Inversión por Semestre</b> <br/> {{ course.inversion }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="course.video">
    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe [src]="videoUrl" id="video" class="video" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="cta">
    <div class="cta-container">
      <div class="cta-btn">
        <button class="btn btn-warning" (click)="open(content)">Descargar Plan de estudios</button>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="course.content">
    <div class="row justify-content-md-center">
      <div class="col-md-12 more-info">
        <div class="more-info-title" [ngStyle]="{'background-color' : tipo.color}">
          Conoce más
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let cont of contenido">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ cont.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            {{ cont.content }}
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</section>


<app-testimonies [course]="activeCourse"></app-testimonies>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <app-main-form></app-main-form>
  </div>
</ng-template>