@import "../../assets/sass/mix.scss";

.course {
    margin-top: 20px;
}

.main-data {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @include for-phone-only {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        color: #9B9B9B;
        font-size: 14px;
        padding: 1em;
        height: 60px;
        border-bottom: 1px solid #E0E0E0;
        font-weight: 300;

        @include for-phone-only {
            height: auto;
        }

        b {
            font-weight: 600;
        }

        // &:last-child {
        //     grid-column: 1 / 3;
        //     border: none;
        //     @include for-phone-only {
        //         grid-column: 1;
        //     }
        // }
    }
}

.title {
    position: relative;
    grid-column: 1 / 3;
    padding: .5em 1em;   
    color: $azul-primary;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

    @include for-phone-only {
        font-size: 14px;
        grid-column: 1;
    }
}
.video {
    margin: 40px 0;
}

.more-info {
    position: relative;

    &-title {
        display: block;
        color: $azul-primary;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        padding: .5em 1em; 
        margin-bottom: 16px;
    }
}


// CTA
.cta {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../../assets/img/cta.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 60px 0;

    @include for-phone-only {
        height: 200px;
        background-size: cover;
        background-attachment: initial;
    }

    &-container {
        background-color: rgba($azul-primary, .80);
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include for-phone-only {
            height: 200px;
        }

        &:after {
            content: "";
            display: block;
            width: 100%;
            border-top: 2px solid $amarillo-primary;
            position: absolute;
            top: 50%; 
            z-index: 1;
        }
    }

    &-btn {
        width: 90%;
        max-width: 400px;

        .btn {
            width: 100%;
            z-index: 9;
            display: block;
            position: relative;
            font-size: 24px;

             @include for-phone-only {
                font-size: 14px;
            }
        }
    }
}