@import "./assets/sass/mix.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Gobal 
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #F8F9FA;
}

.mainContent {
    width: 100%;
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    background-color: $blanco;
    box-shadow: 0 0 40px 4px rgba($gris, .50);
    overflow: hidden;

    .progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
    }
}

.bg-white {
    background-color: $blanco;
}
.btn.disabled, .btn:disabled {
    opacity: 1 !important;
    color: $blanco;
    cursor: pointer;
}
.mt-main {
    margin-top: 60px;
    margin-bottom: 80px;
}
// Forms Styles
.alert {
    padding: 4px;
    font-size: 10px;
    color: rgb(184, 69, 69);
    font-weight: 100;
    margin: 2px 0 0 0;
    border: 0;
    line-height: 0;
    max-height: 7px;
}
.form-control {
    height: 48px !important;
    font-size: 12px;
    color: #4A4A4A;
    @include prefix(transition, all .3s ease-in-out);

    @include for-phone-only {
        height: 42px !important;
    }

    &:focus {
        color: #4A4A4A;
        border-color: $amarillo-primary;
        outline: 0;
        box-shadow: 0 0 0 1px rgba($amarillo-primary, 1);
    }
}
.form-check-label {
    color: $amarillo-primary;
    font-size: 11px;
    font-weight: 400;
    @include for-phone-only{
        font-size: 9px;
    }
}

.form-group {
    @include for-phone-only {
        margin-bottom: 4px;
    }
}
.special-input {
    position: relative;

    &-icon {
        position: absolute;
        background-color: $blanco;
        top: 4px;
        right: 16px;
        height: 40px;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9B9B9B;
        border-left: 1px dashed #9B9B9B;

        @include for-phone-only {
            display: none;
        }
    }
}
.search-modal {
    .modal-content {
        background-color: transparent;
        border: 0 !important;
    }
}
#search {
    position: relative;
    animation: fadeinDown 1s ease-in-out forwards;

    .dropdown-menu {
        max-width: 468px !important;
        width: 468px !important;
        padding: 0;
        overflow: hidden;
    }
    .dropdown-item {
        height: 48px !important;
        max-width: 468px !important;
        width: 468px !important;
        overflow: hidden;
        font-size: 14px;
        color: #4A4A4A;
        text-transform: lowercase;
        
        div {
            display: grid;
            grid-template-columns: 32px 1fr 32px;
            grid-gap: 16px;
            align-items: center;
        }

        cursor: pointer;
        @include prefix(transition, all .3s ease-in-out);

        .mr-1 {
            width: 32px;
            height: 32px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
    .dropdown-item.active, .dropdown-item:active {
        color: $blanco !important;
        cursor: pointer;
    }
}
.home-pro {
    .dropdown-menu {
        max-width: 374px !important;
        width: 374px !important;
        padding: 0;
        overflow: hidden;
    }
    .dropdown-item {
        height: 48px !important;
        max-width: 374px !important;
        width: 374px !important;
        overflow: hidden;
        font-size: 12px;
        color: #4A4A4A;
        text-transform: lowercase;
        @include prefix(transition, all .3s ease-in-out);

        .mr-1 {
            width: 32px;
            height: 32px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            margin-right: 12px;
        }
    }
    .dropdown-item.active, .dropdown-item:active {
        color: $blanco !important;
    }
}

.submit {
    text-align: center;
    margin-top: 14px;
}


//Buttons

.btn {
    border-radius: 22px;
    text-transform: uppercase;
    font-weight: 500;
    min-width: 120px;
    padding: 8px 16px;
    @include prefix(transition, all .6s ease-in-out);

    &:hover {
        box-shadow: 0px 4px 16px -4px rgba($gris, .70);
    }
}
.btn-warning {
    background-color: $amarillo-primary;
    color: $blanco;

    &:hover {
        background-color: $blanco;
        color: $amarillo-primary;
    }
}
.btn-primary {
    background-color: $azul-primary;
    border: 0;
    color: $amarillo-primary;
}
.btn-outline-primary {
    color: $azul-primary;
    border: 1px solid $azul-primary;
}


//  Hero
.main-hero {
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
    background: rgba(2,74,145,1);
    background: -moz-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(2,74,145,1)), color-stop(100%, rgba(0,43,88,1)));
    background: -webkit-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    background: linear-gradient(135deg, rgba(2,74,145,1) 0%, rgba(0,43,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#024a91', endColorstr='#002b58', GradientType=1 );

    @include for-phone-only {
        height: 100vh;
    }
    &-form { 
        animation: fadein 1s ease-in forwards;
    }

    .shape {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 1;

        svg {
            width: 102%;
            height: auto;
            margin-left: -1%;
        }
    }

    &-pic {
        position: absolute;
        top: 0;
        max-width: 1400px;
        width: 100%;
        z-index: 0;
        
        
        img {
            width: 100%;
            height: 700px;
            object-fit: cover;
            object-position: center;
            animation: fadein 2s ease-in forwards;

            @include for-phone-only {
                height: 100vh;
            }
        }
    }

    &-title {
        color: $blanco;
        font-size: 32px;
        text-transform: uppercase;
        @include prefix(text-shadow, 2px 2px 3px rgba(#000, .5));
        margin-bottom: 40px;
        animation: fadeinDown 1s ease-in forwards;

        @include for-phone-only {
            font-size: 20px;
            margin: 70px 0 10px 0;
        }
    }

    &-container {
        z-index: 2;
    }

    &-layout{
        display: block;
        width: 100%;
        height: 700px;
        position: absolute;
        top: 0;
        opacity: .5;
        z-index: 1;
        animation: fadeinOpacity 1s ease-in forwards;

            @include for-phone-only {
                height: 100vh;
            }

        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 700px;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            background: rgba(33,33,33,0.43);
            background: -moz-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,33,33,0.43)), color-stop(63%, rgba(172,172,172,0)), color-stop(100%, rgba(254,254,254,0)));
            background: -webkit-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
            background: -o-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
            background: -ms-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
            background: linear-gradient(to bottom, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#fefefe', GradientType=0 );
        
            @include for-phone-only {
                height: 100vh;
            }
        }
    }

}


//  Areas 

.grid {
    position: relative;
    width: 100%;
    @include for-phone-only {
        padding: 0 1em;
    }

    &-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, minmax(320px, 320px));
        grid-template-rows: 320px;
        grid-auto-rows: 320px;
        justify-content: center;
        grid-gap: 32px;


        @include for-phone-only {
            grid-template-columns: 100%;
            grid-template-rows: 100px;
            grid-auto-rows: 100px;
            grid-column-gap: 0px;
            grid-row-gap: 16px;
        }
        @include for-tablet-portrait-up{
            grid-template-columns: repeat(2, minmax(320px, 1fr));
            grid-template-rows: 320px;
            grid-auto-rows: 320px;  
        }
    }

    &-item {
        position: relative;
        border-radius: 42px;
        overflow: hidden;
        border: 1px solid $blanco;
        cursor: pointer;
        @include prefix(box-shadow, 0px 0px 26px -8px rgba(53,53,53,0.20));
        @include prefix(transition, all .4s ease-in-out);
        animation: fadeinLeft 1s ease-in-out;

        &:hover {
            transform: translateY(-8px);
        }

        &:hover .grid-item-pic img{
            transform: scale(1.1);     
            opacity: 1;
        }

        &-hc {
            position: absolute;
            bottom: 20px;
            right: 20px;

            @include for-phone-only {
                bottom: 10px;
                right: 20px;
            }

            img {
                max-width: 40px;

                @include for-phone-only {
                    max-width: 20px;
                }
            }
        }

        &-data {
            color: #878787;
            font-size: 11px;
            font-weight: 100;
            line-height: 11px;
            margin-bottom: 16px;
        }

        &-pic {
            max-width: 100%;
            position: absolute;
            top: 0;
            z-index: 0;

            img {
                max-width: 100%;
                height: 320px;
                opacity: 0.8;
                object-fit: cover;
                border: 1px solid $blanco;
                box-sizing: content-box;
                @include prefix(transition, transform 8s ease-in-out .2s);

                @include for-phone-only {
                    height: 100px;
                    width: 100%;
                }
            }
        }

        &-btn {

            .btn {
                font-size: 12px;
                background-color: transparent;

                &:hover {
                    background-color: $blanco;
                }
            }
            
            @include for-phone-only {
                display: none;
            } 
        }
        &-icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include for-phone-only {
                width: 38px;
                height: 38px;
            }
            img {
                max-width: 38px;
                @include for-phone-only {
                    max-width: 28px;
                }
            }
        }

        &-title {
            color: $azul-primary;
            font-size: 18px;
            font-weight: 800;

            @include for-phone-only {
                font-size: 12px;
                font-weight: 700;
            }
        }

        &-container {
            position: relative;
            height: 320px;
            background-color: rgba($blanco, .9);
            padding: 1em 2em;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            z-index: 3;
            @include prefix(transition, all .6s ease-in-out .1s);

            @include for-phone-only {
                height: 100px;
                background-color: rgba($blanco, .6);
                grid-template-columns: auto 1fr auto;
                grid-template-rows: 1fr;
                grid-gap: 8px;
            }
            

            &:hover {
                background-color: rgba($blanco, .5);
            }
            
        }
        
    }
}

.filter {
    position: relative;
}
.filters-items {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .item {
        margin: 0 12px;
        color: #878787;
        font-weight: 200;
        font-size: 18px;
        cursor: pointer;
        @include prefix(transition, all .4s ease-in-out);

        &:hover {
            color: $amarillo-primary;
        }
    }
    .active {
        color: $amarillo-primary;
    }
}

// Expansion panel 

.mat-expansion-panel-header-title {
    color: #9B9B9B;
    font-weight: 800;
}
.mat-expansion-panel {
    color: #9B9B9B;
    font-weight: 200;
}
.mat-expansion-panel-body {
    white-space: pre-wrap;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 1px 0 rgba(0,0,0,.12) !important;
}
.mat-menu-item {
    color: #878787;
    font-size: 14px;
}

.mat-fab:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
}
button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}
//  Testimonios

.testimonials {
    padding: 100px 0;
    margin: 60px 0 0 0;
    background-image: url(./assets/img/line-back.svg);
    background-size: cover;
    // background-attachment: fixed;
    background-position: right top;

    &-title {
        color: $azul-primary;
        font-weight: 800;
        font-size: 28px;
        margin-bottom: 40px;
    }
}

// miga

.path {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0 !important;

        li {
            margin: 0 8px;
            color: #878787;
            font-size: 14px;
            font-weight: 400;
            font-style: italic;
            cursor: pointer;

            @include for-phone-only {
                margin: 0 2px;
                font-size: 12px;
            }

            &:after {
                content: "/";
                display: inline;
                margin-left: 12px;

            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
        .active {
            color: $amarillo-primary;
        }
    }
}


// Response 

.pic {

    position: relative;
    margin-bottom: 12px;
    animation: fadeinDown 1s ease-in-out forwards;

    img {
        max-width: 320px;
    }

    p {
        color: #878787;
        font-size: 14px;
        letter-spacing: 1px;
    }
}
.search {
    position: relative;
    animation: fadein 1s ease-in-out forwards;
}

.form-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeinOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: .5;
    }
}

@keyframes fadeinDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeinLeft {
    from {
        opacity: 0;
        transform: translateX(-2px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.fulfilling-bouncing-circle-spinner, .fulfilling-bouncing-circle-spinner * {
      box-sizing: border-box;
    }

    .fulfilling-bouncing-circle-spinner {
      height: 60px;
      width: 60px;
      position: relative;
      animation: fulfilling-bouncing-circle-spinner-animation infinite 4000ms ease;
    }

    .fulfilling-bouncing-circle-spinner .orbit {
      height: 60px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: calc(60px * 0.03) solid $amarillo-primary;
      animation: fulfilling-bouncing-circle-spinner-orbit-animation infinite 4000ms ease;
    }

    .fulfilling-bouncing-circle-spinner .circle {
      height: 60px;
      width: 60px;
      color: $amarillo-primary;
      display: block;
      border-radius: 50%;
      position: relative;
      border: calc(60px * 0.1) solid $amarillo-primary;
      animation: fulfilling-bouncing-circle-spinner-circle-animation infinite 4000ms ease;
      transform: rotate(0deg) scale(1);
    }

    @keyframes fulfilling-bouncing-circle-spinner-animation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes fulfilling-bouncing-circle-spinner-orbit-animation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1);
      }
      62.5% {
        transform: scale(0.8);
      }
      75% {
        transform: scale(1);
      }
      87.5% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1);
      }
    }

    @keyframes fulfilling-bouncing-circle-spinner-circle-animation {
      0% {
        transform: scale(1);
        border-color: transparent;
        border-top-color: inherit;
      }
      16.7% {
        border-color: transparent;
        border-top-color: initial;
        border-right-color: initial;
      }
      33.4% {
        border-color: transparent;
        border-top-color: inherit;
        border-right-color: inherit;
        border-bottom-color: inherit;
      }
      50% {
        border-color: inherit;
        transform: scale(1);
      }
      62.5% {
        border-color: inherit;
        transform: scale(1.4);
      }
      75% {
        border-color: inherit;
        transform: scale(1);
        opacity: 1;
      }
      87.5% {
        border-color: inherit;
        transform: scale(1.4);
      }
      100% {
        border-color: transparent;
        border-top-color: inherit;
        transform: scale(1);
      }
    }