@import "../../assets/sass/mix.scss";

.form-container {
    padding: 2em 2em;
    background-color: rgba($blanco, .69);
    border-radius: 4px;
    position: relative;
    @include for-phone-only {
        padding: 1em 2em;
    }
    h2 {
        font-size: 24px;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: 16px;

        @include for-phone-only {
            display: none;
        }
    }
    .form-group {
        padding: 0 4px !important; 
    }
    .submit {
        position: absolute;
        display: block;
        bottom: -20px;
        left: 0;
        width: 100%;
    }
}