<div class="form-container">
  <h2 class="text-center">¿DESEAS UNIRTE A LA GENERACIÓN DEL CAMBIO?</h2>
  <form [formGroup]="rForm"(ngSubmit)="sendData(rForm.value)" autocomplete="off">
    <div class="row">
      <div class="form-group col-12 col-md-6">
        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" id="nombre"/>
        <div class="alert" *ngIf="!rForm.controls['nombre'].valid && rForm.controls['nombre'].touched">
          {{ titleAlert }}
        </div>
      </div>
      <div class="form-group col-12 col-md-6">
        <input type="email" class="form-control" placeholder="Email" formControlName="correo" id="correo"/>
        <div class="alert" *ngIf="!rForm.controls['correo'].valid && rForm.controls['correo'].touched">
          {{ titleAlert }}
        </div>
      </div>
      <div class="form-group col-md-3 col-sm-12">
        <input type="number" class="form-control" placeholder="Documento de identidad" formControlName="id" id="id"/>
      </div>
      <div class="form-group col-md-3 col-sm-12">
        <input type="tel" class="form-control" placeholder="Celular" formControlName="celular" id="celular"/>
        <div class="alert" *ngIf="!rForm.controls['celular'].valid && rForm.controls['celular'].touched">
          {{ titleAlert }}
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-3 special-input home-pro">
        <span class="special-input-icon">
          <i class="fas fa-file"></i>
        </span>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngModelOptions]="{standalone: true}"
          [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Programa" />
        <div class="alert" *ngIf="noProgram">
          {{ titleAlert }}
        </div>
        <ng-template #rt let-r="result" let-t="term">
          <img [src]="r.picture" class="mr-1">
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>
      </div>
      <div class="form-group col-md-3 col-sm-12 special-input">
        <span class="special-input-icon">
          <i class="far fa-calendar"></i>
        </span>
        <select class="form-control" formControlName="periodo" id="periodo">
          <option value="null">Periodo</option>
          <option value="2019-1">2019 - 1</option>
          <option value="2019-2">2019 - 2</option>
        </select>
        <div class="alert" *ngIf="!rForm.controls['periodo'].valid && rForm.controls['periodo'].touched">
          {{ titleAlert }}
        </div>
      </div>
      <div class="form-group col-sm-12 text-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="tyc" id="tyc">
          <label class="form-check-label" for="tyc">
            <a target="_blank" href="http://www.usta.edu.co/images/documentos/documentos-institucionales/politicas/Politica_de_Tratamiento_de_la_Informacion_Personal-USTAColombia_WEB.pdf">
              <i>Autorización para el tratamiento de datos personales</i>
            </a>
          </label>
          <div class="alert" *ngIf="!rForm.controls['tyc'].valid && rForm.controls['tyc'].touched">
            {{ titleAlert }}
          </div>
        </div>
      </div>
      <div class="submit" *ngIf="!showLoader">
        <button class="btn btn-warning" type="submit" [disabled]="!rForm.valid">enviar</button>
      </div>
      <div class="submit" *ngIf="showLoader">
        <div class="form-loading">
          <div class="fulfilling-bouncing-circle-spinner">
            <div class="circle"></div>
            <div class="orbit"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>