<section class="hero">
    <div class="hero-container container">
        <div class="row">
            <div class="col-lg-4 col-md-6 hero-cta">
                <h1 class="text-center">
                    ¿DESEAS UNIRTE A LA GENERACIÓN DEL CAMBIO?
                </h1>
                <div class="form-container">
                    <app-short-form></app-short-form>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 hero-user">
                <img src="../../assets/img/hero-user.png" alt="USTA">
            </div>
        </div>
    </div>
</section>
<section class="filter">
    <div class="filter-container">
        <div class="container">
            <app-serch></app-serch>
            <div class="row">
                <div class="col">
                    <h1 class="filter-title text-center">
                        ¿Qué quieres estudiar?
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button class="btn btn-outline-primary" routerLink="/carreras/pregrado">
                        Pregrado
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-primary" routerLink="/carreras/posgrado">
                        Posgrado
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="generation">
    <div class="generation-container">
        <div class="shield">
            <img src="../../assets/img/shield.png" alt="Shield" class="img-fluid">
        </div>
        <div class="list">
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/start.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    Somos una Universidad con Acreditación en Alta Calidad Multicampus.
                </div>
            </div>
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/hands.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    Más de 300 convenios internacionales y 67 a nivel nacional.
                </div>
            </div>
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/percent.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    Tenemos 12 líneas diferentes de becas y descuentos (resultados Pruebas Saber 11, excelencia académica, actividades
                    culturales y deportivas, entre otras).
                </div>
            </div>
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/list.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    Tienes la opción de realizar doble programa o doble titulación internacional.
                </div>
            </div>
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/user.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    Nuestros más de 138.000 egresados tienen un alto índice de empleabilidad.
                </div>
            </div>
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/money.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    Financiación directa por la Universidad y convenio con 8 entidades financieras incluida ICETEX.
                </div>
            </div>
            <div class="list-item">
                <div class="icon">
                    <img src="../../assets/img/book.svg" alt="Start" class="img-fluid">
                </div>
                <div class="text">
                    En nuestras sedes encuentras 50 espacios deportivos, 49 salas de cómputo, 134 laboratorios y 12 bibliotecas.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="acredit">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="acredit-title text-center">
                    Acreditación Institucional
                </h2>
                <h4 class="acredit-subtitle text-center">
                    Alta Calidad Multicampus
                </h4>
                <p class="acredit-desc text-center">
                    Somos la primera Universidad privada en <br />
                    recibir esta acreditación
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="acredit-logos">
                    <div class="logo">
                        <img src="../../assets/img/icontec.png" alt="Icontec" class="img-fluid">
                    </div>
                    <div class="logo">
                        <img src="../../assets/img/net.png" alt="Net" class="img-fluid">
                    </div>
                    <div class="logo">
                        <img src="../../assets/img/hq.png" alt="Net" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-warning">contáctanos</button>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-8 acredit-legal">
                <p class="text-center">Institución de Educación Superior, reconocida mediante Resolución 3645 del 06 de
                    Agosto de 1995 expedida por el Ministerio
                    de Justicia / institución sujeta a inspección y vigilancia por el Ministerio de Educación Nacional.
                    SNIES 1704</p>
            </div>
        </div>
    </div>
</section>