
@import "../../assets/sass/mix.scss";
.hero {
    position: relative;
    background-image: url(../../assets/img/hero-back-user.jpg);
    background-size: cover;
    background-position: right top;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 60%;
        top: 0;
        bottom: 0;
        left: 0;
        background-image: url(../../assets/img/shape-hero.svg);
        background-size: cover;
        background-position: right top;
        background-repeat: no-repeat;
        @include for-phone-only  {
            width: 40%;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        height: 200px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: rgba(33,33,33,0.43);
        background: -moz-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,33,33,0.43)), color-stop(63%, rgba(172,172,172,0)), color-stop(100%, rgba(254,254,254,0)));
        background: -webkit-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
        background: -o-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
        background: -ms-linear-gradient(top, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
        background: linear-gradient(to bottom, rgba(33,33,33,0.43) 0%, rgba(172,172,172,0) 63%, rgba(254,254,254,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#fefefe', GradientType=0 );
    }

    &-container {
        position: relative;
    }
    &-cta {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include for-phone-only {
            height: auto;
            position: absolute;
            top: 250px;
            padding: 0 2em;
            background-color: $azul-primary;
            z-index: 99;
        } 
        @include for-tablet-portrait-up {
           z-index: 2; 
           height: auto;
           margin-top: 50px;
        }

        h1 {
            color: $blanco;
            font-size: 28px;
            margin: 60px 0 20px 0;
            @include for-phone-only {
                font-size: 18px;
                margin: 16px 0;
            }
        }
    }

    &-user {
        @include for-phone-only {
            padding-top: 70px;
            text-align: right;
        }
        @include for-tablet-portrait-up {
            position: absolute;
            right: -340px;
            top: 0;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            z-index: 1;
        }
        img {
            max-height: 700px;
            max-width: 100%;
             @include for-phone-only {
                 max-width: 200px;
             }

             @include for-tablet-portrait-up {
                max-height: 660px;
             }
        }
    }
}
.close {
    float: none !important;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 16px;

}
.filter {
    position: relative;
    background-image: url(../../assets/img/filter-back.jpg);
    background-position: center 0px;
    background-size: cover;
    background-position: center;
    @include for-phone-only {
        margin-top: 360px;
    }

    &-container {
        padding: 4em 0;
        background-color: rgba($amarillo-primary, .80);
    }
    &-title {
        color: $azul-primary;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: 1em;

        @include for-phone-only {
            font-size: 18px;
        }
    }
}

.generation {
    position: relative;
    
    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        @include for-phone-only {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }
    }
    .shield {
        background-color: $azul-primary;
        padding: 40px 60px;
        position: relative;

        img {
            position: absolute;
            max-width: 480px;
            right: -40px;
            top: 20%;
            @include for-phone-only {
                max-width: 100%;
                position: relative;
            }
        }
    }
    .list {
        background-color: #F8F9FA;
        padding: 40px 60px;

        @include for-phone-only {
            padding: 20px 40px;
        }

        &-item {
            display: grid;
            grid-template-columns: 50px 1fr;
            grid-gap: 20px;
            align-items: center;
            margin-bottom: 20px;

            .text {
                font-size: 13px;
                color: rgb(89, 89, 89);
                font-weight: 200;
            }
            .icon {
                padding: 10px;
            }
        }
    }
}

.acredit {
    position: relative;
    padding: 40px 0;
    background-image: url(../../assets/img/line-back.svg);
    background-size: cover;
    background-position: center;

    &-title {
        color: $azul-primary;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-subtitle {
        color: $amarillo-primary;
        font-weight: 200;
        letter-spacing: 2px;
        margin: 16px 0;
    }
    &-desc {
        color: #9B9B9B;
        font-size: 16px;
        font-weight: 200;
    }
    &-logos {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        grid-gap: 60px;
        margin: 60px 0;

        @include for-phone-only {
            margin: 40px 0;
            grid-gap: 20px;
        }

        .logo {
            img {
                max-width: 160px;
                @include for-phone-only {
                    max-width: 90px;
                } 
            }
        }
    }

    &-legal {
        border-top: 1px solid $amarillo-primary;
        border-bottom: 1px solid $amarillo-primary;
        margin-top: 20px;
        padding-top: 10px;
        p {
            font-size: 12px;
            color: $azul-primary;
            font-weight: 300;
        }
    }
}