// Prefijos 

$prefixes: "webkit", "moz", "ms", "o", "none";
@mixin prefix($property, $arguments) {
	@each $prefix in $prefixes {
		@if $prefix == "none" {
			#{$property}: $arguments;
			} @else {
				-#{$prefix}-#{$property}: $arguments;
			} 
		}
	}

// Media Queries

@mixin for-phone-only {
	@media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) and (max-width: 800px){ @content; }
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
	@media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) { @content; }
}

// Colores 

$amarillo-primary: #F2C300;
$azul-primary: #024991;
$azul-dark: #002B58;

$pregrado: #E8B616;
$posgrado: #2D97D4;

$gris: #9B9B9B;
$blanco: #fff;